.footer {
  position: relative;
  margin-top: -60px;
  clear:both;
  background:#F96E5B;
  width:100%;
  height:20px;
  text-align: center;
  padding: 20px 0;
  a {
    margin: auto auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    position: relative;
    margin-top: -30px;
    clear:both;
    background:#F96E5B;
    width:100%;
    height:20px;
    text-align: center;
    padding: 5px 0;
    a {
      margin: auto auto;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      color: #FFF;
      font-size: 10px;
    }
  }
}
