<div ng-controller="HomeController as home">
  <div class="component">
      <table>
        <thead>
          <tr>
            <th class="position">Position</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Car 1</th>
            <td>{{ home.carPositions[0].lat }}</td>
            <td>{{ home.carPositions[0].lon }}</td>
          </tr>
          <tr>
            <th>Car 2</th>
            <td>{{ home.carPositions[1].lat }}</td>
            <td>{{ home.carPositions[1].lon }}</td>
          </tr>
          <tr>
            <th>Car 3</th>
            <td>{{ home.carPositions[2].lat }}</td>
            <td>{{ home.carPositions[2].lon }}</td>
          </tr>
          <tr>
            <th>Car 4</th>
            <td>{{ home.carPositions[3].lat }}</td>
            <td>{{ home.carPositions[3].lon }}</td>
          </tr>
          <tr>
            <th>Car 5</th>
            <td>{{ home.carPositions[4].lat }}</td>
            <td>{{ home.carPositions[4].lon }}</td>
          </tr>
          <tr>
            <th>Car 6</th>
            <td>{{ home.carPositions[5].lat }}</td>
            <td>{{ home.carPositions[5].lon }}</td>
          </tr>
          <tr>
            <th>Car 7</th>
            <td>{{ home.carPositions[6].lat }}</td>
            <td>{{ home.carPositions[6].lon }}</td>
          </tr>
          <tr>
            <th>Car 8</th>
            <td>{{ home.carPositions[7].lat }}</td>
            <td>{{ home.carPositions[7].lon }}</td>
          </tr>
          <tr>
            <th>Car 9</th>
            <td>{{ home.carPositions[8].lat }}</td>
            <td>{{ home.carPositions[8].lon }}</td>
          </tr>
          <tr>
            <th>Car 10</th>
            <td>{{ home.carPositions[9].lat }}</td>
            <td>{{ home.carPositions[9].lon }}</td>
          </tr>
          <tr>
            <th>Car 11</th>
            <td>{{ home.carPositions[10].lat }}</td>
            <td>{{ home.carPositions[10].lon }}</td>
          </tr>
          <tr>
            <th>Car 12</th>
            <td>{{ home.carPositions[11].lat }}</td>
            <td>{{ home.carPositions[11].lon }}</td>
          </tr>
          <tr>
            <th>Car 13</th>
            <td>{{ home.carPositions[12].lat }}</td>
            <td>{{ home.carPositions[12].lon }}</td>
          </tr>
          <tr>
            <th>Car 14</th>
            <td>{{ home.carPositions[13].lat }}</td>
            <td>{{ home.carPositions[13].lon }}</td>
          </tr>
          <tr>
            <th>Car 15</th>
            <td>{{ home.carPositions[14].lat }}</td>
            <td>{{ home.carPositions[14].lon }}</td>
          </tr>
          <tr>
            <th>Car 16</th>
            <td>{{ home.carPositions[15].lat }}</td>
            <td>{{ home.carPositions[15].lon }}</td>
          </tr>
          <tr>
            <th>Car 17</th>
            <td>{{ home.carPositions[16].lat }}</td>
            <td>{{ home.carPositions[16].lon }}</td>
          </tr>
          <tr>
            <th>Car 18</th>
            <td>{{ home.carPositions[17].lat }}</td>
            <td>{{ home.carPositions[17].lon }}</td>
          </tr>
          <tr>
            <th>Car 19</th>
            <td>{{ home.carPositions[18].lat }}</td>
            <td>{{ home.carPositions[18].lon }}</td>
          </tr>
          <tr>
            <th>Car 20</th>
            <td>{{ home.carPositions[19].lat }}</td>
            <td>{{ home.carPositions[19].lon }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>